.jumbotron {
	padding-top: 100px;
	background: #F3FFE2;
}

.navbar-inverse {
	background: #1695A3;
	border: none;
}

.navbar-inverse .navbar-brand  {
	color: #fff;
	text-transform: uppercase;
	text-align: center;
}

.container p {
	font-size: 16px;
}